.section {
	padding-top: 50px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	h1 {
		position: absolute;
		font-size: 45px;
		padding: 10px 0;
		top: 10%;
		color: #faebd7;
	}
}
.input_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	height: 90vh;
	.input {
		border: 0;
		font-size: 20px;
		display: flex;
		padding: 20px;
		width: 100%;
		height: 50px;
		background: #faebd7;
		margin: 20px 0;
		resize: none;
		&::placeholder {
			font-size: 20px;
			color: darkslategrey;
		}
	}
	.body_input {
		height: 150px;
	}
}
@media (min-width: 768px) {
	.input_container {
		width: 60%;
	}
}
