$global-bg: #de83fa;
$danger-bg: #ff4a3d;
$warning-bg: #fff56d;
$global-text: #cf32ff;
$danger-text: #ff4a3d;
$warning-text: #fbff28;
$white-text: #fff;
// $primary-bg: #5d88fd;
// $primary-text: #5d88fd;

.btn {
	cursor: pointer;
	margin: 5px;
	outline: 0;
	padding: 7px 12px;
	border-radius: 5px;
	font-weight: 800;
	font-size: 13px;
	border: 2px solid $global-bg;
	color: $global-text;
	background: transparent;
	box-shadow: 0px 1px 5px $global-bg;
	transition-property: background, color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	&:active {
		transform: scale(0.96);
	}
	&:hover {
		box-shadow: 0px 1px 5px #fffdce;
		background: $global-bg;
		color: $white-text;
	}
	&:focus {
		border: 2px solid transparent;
		background: $global-bg;
		outline: 0;
		color: #000;
	}
}
.danger {
	border: 2px solid $danger-bg;
	color: $danger-text;
	box-shadow: 0px 1px 5px $danger-bg;
	&:hover {
		box-shadow: 0px 1px 5px $danger-bg;
		background: $danger-bg;
		color: $white-text;
	}
	&:focus {
		border: 2px solid transparent;
		background: $danger-bg;
		outline: 0;
		color: $white-text;
	}
	.primary {
		border: 2px solid $danger-bg;
		color: antiquewhite;
		background: $danger-bg;
		box-shadow: 0px 1px 5px $danger-bg;
		&:hover {
			box-shadow: 0px 1px 5px $danger-bg;
			color: $danger-text;
		}
		&:focus {
			border: 2px solid $danger-bg;
			background: transparent;
			outline: 0;
			color: $danger-text;
		}
	}
}
.warning {
	border: 2px solid $warning-bg;
	color: $warning-text;
	box-shadow: 0px 1px 5px $warning-bg;
	&:hover {
		box-shadow: 0px 1px 5px $warning-bg;
		background: $warning-bg;
		color: #000;
	}
	&:focus {
		border: 2px solid transparent;
		background: $warning-bg;
		outline: 0;
		color: #000;
	}
}
