.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 5px;
	width: 300px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(1px);
	-webkit-backdrop-filter: blur(1px);
	border-radius: 10px;
	border: 3px solid rgba(255, 255, 255, 0.18);

	.card_design {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		transform: translateY(-10px);
		opacity: 0;
		margin: 0;
		height: 10px;
		width: 100%;
		transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		background: linear-gradient(
			90deg,
			rgb(229, 240, 75) 0%,
			hsla(281, 95%, 52%, 1) 100%
		);
	}

	.card_title {
		margin: 10px;
		text-align: center;
		font-size: 22px;
		font-weight: 700;
		color: #f0e8e8;
	}
	.card_description {
		margin: 10px;
		text-align: center;
		font-size: 15px;
		font-weight: 500;
		color: #ffffffd3;
		cursor: pointer;

		&::before {
			content: 'View';
			color: rgb(84, 37, 253);
			font-size: 30px;
			font-style: italic;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 10px;
			left: 0;
			width: 99%;
			height: calc(100% - 10px);
			background: rgba(236, 220, 220, 0.171);
			z-index: 100;
			opacity: 0;
			transition: opacity 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
		}
	}
	&:hover .card_description {
		&::before {
			opacity: 1;
		}
	}
	.card_button {
		opacity: 0;
		width: 100%;
		z-index: 1000;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		background: rgba(255, 255, 255, 0.151);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(0px);
		-webkit-backdrop-filter: blur(1px);

		transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	&:hover .card_button,
	&:hover .card_design {
		transform: translateY(0px);
		opacity: 1;
	}
}

.fullsize {
	width: 90%;
	height: 60vh;
	.card_description {
		cursor: default;
	}
	&:hover .card_description::before {
		opacity: 0;
		z-index: -100;
		cursor: default;
	}
}

@media (min-width: 768px) {
	.fullsize {
		width: 80%;
	}
}
