header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 40px;
	height: 10vh;
	background: #fff;
	h2 {
		color: #161313;
	}
}
