.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 100px;
	padding-bottom: 20px;
	.card_containter {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
		h1 {
			position: absolute;
			font-size: 45px;
			padding: 200px 0;
			top: 10%;
			color: #faebd7;
		}
	}
}
