.singlepost_containter {
	padding-top: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	h1 {
		position: absolute;
		font-size: 45px;
		padding: 200px 0;
		top: 10%;
		color: #faebd7;
	}
}
